:root{
    /* uncomment for symmetrical layout, comment for basic */
    --chat-section-symmetrical-margin: 250px;
    --users-section-symmetrical-width: 250px;
}

body{
    background-color: #121212;
}

.chatStyle{
    width: 1500px;
    height: 830px;
    margin-left: auto;
    margin-right: auto;

    color: #fff;
}

#logo{
    font-size: 55px;
    padding: 20px;
    letter-spacing: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #f9f871;
    height: 60px;
}

input{
    margin-bottom: 15px;
}

.messagesOuterBox{
    border-radius: 10px;
    height: 700px;
    padding-top: 10px;
    width: 1000px;
    display: inline-block;
    background-color: #8fb8ff;
    margin-bottom: 15px;
}

#messages { 
    list-style-type: none;
    width: 1000px;
    height: 730px;
    text-align: left;  
    margin-left: 0px;  
    margin-right: 0px; 
}

#messages > li { 
    margin-bottom: 10px;
    color: black;
}

#messages > li:nth-child(odd) { 
    color: black;
}

#chatSection{
    float: left;
    width: 1000px;
    height: 100%;
    margin-left: var(--chat-section-symmetrical-margin, 200px);
}

#usersSection{
    float: left;
    width: var(--users-section-symmetrical-width, 300px);
    height: 650px;
}

ul{
    list-style-type: none;
}

.userButton{
    width: 80%;
    height: 50px;
    font-size: 19px;
    margin-bottom: 15px;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    border-style: none;
    background-color: #d7f0ed;
}

.userButton:hover{
    background-color: #b3d9ff;
    cursor: pointer;
}

.dateStyle{
    color: white;
    font-weight: bold;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 14px;
}

.msgFromUser{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 3px;
}

.msgContent{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 2px;
    border-radius: 5px;
    /*background-color: #96ffd0;*/
    background-color: #f9f871;
    width: fit-content;
}

.msgIcon{
    color: red;
    
}

.onlineDot, .offlineDot{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
}

.onlineDot{
    background-color: #00ff0d;
}

.offlineDot{
    background-color: red;
}

.sendMsgButton{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    background-color: #d7f0ed;
    border-style: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.sendMsgButton:hover{
    background-color: #b3d9ff;
    cursor: pointer;
}

.msgInput{
    font-size: 17px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #d7f0ed;
    border: 2px solid #d7f0ed;
}

.msgInput:focus{
    outline: none;
    border: 2px solid #8fb8ff;
    border-radius: 5px;
}